# Existing data files
*.csv

# Compiled Windows executable files (Do not bloat the repo)
*.exe

# Blackbox flight log files (Telemetry data)
*.bin

# External third-party libraries (mbedTLS should not be pushed)
third_party/mbedtls/